@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* https://cdn.statically.io/gh/TheOdinProject/curriculum/81a5d553f4073e593d23a6ab00d50eef8620796d/foundations/html_css/project/imgs/01.png */
/* https://cdn.statically.io/gh/TheOdinProject/curriculum/81a5d553f4073e593d23a6ab00d50eef8620796d/foundations/html_css/project/imgs/02.png */

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
}

.header-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    max-width: 900px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 16px;
}

.hero-container {
    max-width: 900px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 64px 0px;
}

.hero-container * {
    flex: 1;
}

.hero * {
    margin: 8px;
}

.hero-img-container {
    font-size: 24px;
    background-color: grey;
}

.header img {
    font-size: 24px;
}

.header img,
.hero-container img {
    color: #F9FAF8;
}

.information-container {
    margin: 64px;
}

.information {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 16px;
}

.card p {
    text-align: center;
}

.quote-container {
    background-color: #E5E7EB;
    margin: 64px 0px;
}

.quote {
    width: 700px;
    margin: 64px 0px;
}

.quote * {
    margin: 0px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote-source {
    font-weight: bold;
    text-align: right;
}

.call-container {
    margin: 64px 0px;
}

.call {
    padding: 32px 96px;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    gap: 128px;
}

.call-text * {
    margin: 0px;
}

.footer {
    padding: 32px;
}

.hero-img-container,
.information-container,
.card-container,
.quote-container,
.call-container,
.footer {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container,
.footer {
    background-color: #1F2937;
}

.hero h1{
    font-size: 48px;
}

.header-links li a,
.hero p {
    font-size: 18px;
}

.hero h1,
.call-text h2,
.footer {
    font-weight: bolder;
    color: #F9FAF8;
}

.header-links li a,
.hero p,
.call-text p{
    color: #E5E7EB;
    text-decoration: none;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
    border-color: #F9FAF8;
    border-style: solid;
    margin: 0px;
    flex: none;
}

.hero .sign-up {
    border-color: #3882F6;
}